:root {
  --bg1: #30292F;
  --bg2: #413F54;
  --bg3: #3F4045;

  --accent: #5F5AA2;
  --white: #ffffff;
  --muted: rgba(255,255,255,0.7);

  --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg1);
  font-family: var(--font-main);
  color: var(--white);
}
